services:
    db:
        image: mongo:8.2.3
        restart: always
        ports:
            - 27017:27017
        volumes:
            - mongo-data:/data/db
        environment:
            MONGO_INITDB_ROOT_USERNAME: fluid
            MONGO_INITDB_ROOT_PASSWORD: fluid
            MONGO_INITDB_DATABASE: fluid

volumes:
  mongo-data:
