name: Deploy backend package

on:
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/test-backend.yaml

  build:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      id-token: write
      contents: read
    outputs:
      version: ${{ steps.version.outputs.VERSION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get package version
        id: version
        run: echo "VERSION=$(jq -r -c '.version' apps/backend/package.json)" >> $GITHUB_OUTPUT

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build app
        run: npm run build -w apps/backend

      - name: Install dependencies for production
        run: npm ci --omit=dev --ignore-scripts

      - name: Archive package
        run: tar czvf fluid-backend-${{ steps.version.outputs.VERSION }}.tar.gz apps/backend/build apps/backend/package.json node_modules

      - id: auth
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
          service_account: '${{ secrets.WIF_PACKAGE_UPLOAD_TO_GCS_SERVICE_ACCOUNT }}'

      - id: upload-file
        uses: google-github-actions/upload-cloud-storage@v2
        with:
          path: fluid-backend-${{ steps.version.outputs.VERSION }}.tar.gz
          destination: fluid-backend-package

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          export_environment_variables: true
          workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
          service_account: '${{ secrets.WIF_COMPUTE_ENGINE_DEPLOY_SERVICE_ACCOUNT }}'

      - name: Deploy to Compute Engine
        run: gcloud compute instances add-metadata fluid-backend --metadata=fluid-backend-version=${{ needs.build.outputs.version }} --zone=us-west1-a
