name: Deploy backend container

on:
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/test-backend.yaml

  build:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      id-token: write
      contents: read
    outputs:
      version: ${{ steps.version.outputs.VERSION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get package version
        id: version
        run: echo "VERSION=$(jq -r -c '.version' apps/backend/package.json)" >> $GITHUB_OUTPUT

      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          create_credentials_file: true
          export_environment_variables: true
          workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
          service_account: '${{ secrets.WIF_PUSH_CONTAINER_IMAGE_SERVICE_ACCOUNT }}'

      - name: Docker login
        run: gcloud auth configure-docker --quiet us-west1-docker.pkg.dev

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: us-west1-docker.pkg.dev/${{ steps.auth.outputs.project_id }}/fluid/fluid-backend:${{ steps.version.outputs.VERSION }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          export_environment_variables: true
          workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
          service_account: '${{ secrets.WIF_CLOUD_RUN_DEPLOY_SERVICE_ACCOUNT }}'

      - name: Deploy to Cloud Run
        run: gcloud run deploy fluid-backend --image=us-west1-docker.pkg.dev/${{ steps.auth.outputs.project_id }}/fluid/fluid-backend:${{ needs.build.outputs.version }} --platform=managed --region=us-west1 --allow-unauthenticated --quiet
