name: Create Release
run-name: ${{ github.event.pull_request.title }}

on:
  pull_request:
    types:
      - closed

jobs:
  create_release:
    if: github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.ref, 'release/')
    runs-on: ubuntu-latest
    outputs:
      package_name: ${{ steps.output.outputs.package_name }}
      version: ${{ steps.output.outputs.version }}
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Get package name and version
        id: get_package_name_and_version
        run: |
          PACKAGE_NAME=$(echo ${{ github.event.pull_request.head.ref }} | cut -d'/' -f2)
          VERSION=$(echo ${{ github.event.pull_request.head.ref }} | cut -d'/' -f3)
          echo "PACKAGE_NAME=$PACKAGE_NAME" >> $GITHUB_OUTPUT
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build Changelog
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v6
        with:
          toTag: ${{ github.event.pull_request.base.sha }}
          configurationJson: |
            {
              "categories": [
                {
                  "title": "## Update",
                  "labels": ["${{ steps.get_package_name_and_version.outputs.PACKAGE_NAME }}"]
                }
              ],
              "ignore_labels": ["release"],
              "tag_resolver": {
                "method": "semver",
                "filter": {
                  "pattern": "${{ steps.get_package_name_and_version.outputs.PACKAGE_NAME }}@v(.+)",
                  "flags": "gu"
                },
                "transformer": {
                  "pattern": "${{ steps.get_package_name_and_version.outputs.PACKAGE_NAME }}@v(.+)",
                  "flags": "gu",
                  "target": "$1"
                }
              }
            }
      - name: Add comment
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { data: commentData } = await github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `${{ steps.build_changelog.outputs.changelog }}`
            });
            console.log('Comment created:', commentData.html_url);
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: false
          name: Release ${{ steps.get_package_name_and_version.outputs.PACKAGE_NAME }} ${{ steps.get_package_name_and_version.outputs.VERSION }}
          tag_name: ${{ steps.get_package_name_and_version.outputs.PACKAGE_NAME }}@${{ steps.get_package_name_and_version.outputs.VERSION }}
          prerelease: ${{ contains(steps.get_package_name_and_version.outputs.VERSION, 'beta') || contains(steps.get_package_name_and_version.outputs.VERSION, 'alpha') }}
          body: ${{ steps.build_changelog.outputs.changelog }}
      - name: Set output
        id: output
        run: |
          echo "package_name=${{ steps.get_package_name_and_version.outputs.PACKAGE_NAME }}" >> "$GITHUB_OUTPUT"
          echo "version=${{ steps.get_package_name_and_version.outputs.VERSION }}" >> "$GITHUB_OUTPUT"

  deploy_frontend:
    needs: create_release
    if: needs.create_release.result == 'success' && needs.create_release.outputs.package_name == 'frontend'
    uses: ./.github/workflows/deploy-frontend.yaml
    with:
      environment: ${{ (contains(needs.create_release.outputs.version, 'beta') || contains(needs.create_release.outputs.version, 'alpha')) && 'Development' || 'Production'}}
    secrets: inherit

  deploy_backend_container:
    needs: create_release
    if: needs.create_release.result == 'success' && needs.create_release.outputs.package_name == 'backend'
    uses: ./.github/workflows/deploy-backend-container.yaml
    secrets: inherit

  deploy_backend_package:
    needs: create_release
    if: needs.create_release.result == 'success' && needs.create_release.outputs.package_name == 'backend'
    uses: ./.github/workflows/deploy-backend-package.yaml
    secrets: inherit
