name: Release

on:
  push:
    tags:
      - "v*"

env:
  IMAGE_NAME: fluid
  REGISTRY: ghcr.io

jobs:
  build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: master
      - uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Get version
        id: get_version
        run: echo "version=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/kadoshita/${{ env.IMAGE_NAME }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          context: .
          platforms: linux/amd64
          builder: ${{ steps.buildx.outputs.name }}
          tags: ${{ env.REGISTRY }}/kadoshita/${{ env.IMAGE_NAME }}:${{ steps.get_version.outputs.version }}
          labels: ${{ steps.meta.outputs.labels }}
